.bus-seat-map {
  text-align: center;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
}

.seat-map-container {
  display: flex;
  padding-top: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 100px;
  border-radius: 15px;
  width: 300px;
  background-color: #2a4966;
}

.row {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.seat {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

 .selected {
  background-color: red;
}
 

#map {
  color: white;
  padding-bottom: 20px;
}

.seat:hover {
  color: #009AC7;
}
