* {
  margin: 0;
  padding: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}

.Bcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-image: url(../image/background1.png);
  background-size: cover;
}

#head {
  font-size: 1.3rem;
  margin-top: 5px;}

#title {
  font-size: 1.1rem;
}

.form {
  background-color: #0688af;
  box-shadow: 0px 8px 32px 0 #014053;
  
  padding: 16px 26px;
  margin: auto;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
   
  height: 80vh;
  justify-content: center;
  align-items: center;
}

#input-form {
  border-radius: 10px;
  width: 400px;
  outline: none;
  
}

#input-form1{
  border-radius: 10px;
  width: 400px;
  outline: none;
}
.vice-versa{
  display: flex;
  
}
#arrow{
   margin-right: 10px;
   align-self: flex-end;
   
  
}
#arrow:hover{
  cursor: pointer;

}

 

label {
  margin-bottom: 10px;
}

input,
select {
  padding: 8px;
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  background-color: #2a4966;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 15px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
