*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
 
   #destination-fix-error{
      width: 100%;
      height: 100vh;
      list-style: none;
 
    } 
  
    .container-destinationtable{
 
      width: 100%;
      height: 65vh;
    }
    .container-destination{
      width: 50%;
      height: 100vh;
  
    }
    .driverTable{
      width: 80%;
      float: right;
      background-color: rgb(255, 255, 255);
    }
    .holder {
      display: flex;
    }
    .container-destination.header {
      font-size: 24px;
      background-color: #2A4966;
      color: white;
      padding:0 30px;
    }
  .item1{
    text-align: center;
    }
  .item2{
    text-align: center;
  font-weight: bold;
  }
  .item3{
 text-align: center;
  }
  .KicukiroNyabugogoos{
    background-color: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
  }
      .driverLocation{
        font-size: 30px;
        color: black;
        font-weight: 600;
        padding: 50px 20px 50px 15rem;
     
      }

      .table-body{
        background-color: #E9F4FF;
      }


       #item-status{
        text-decoration: none;
        color: #2A4966;
        font-weight: 700;
       }

       #item-status:hover{
        color: #0d61b0;
       font-size: 15px;
       font-weight: 600;
       }