*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
    /* body{
      background-color: #2A4966;
      width: 100%;
      height: 100vh;
      list-style: none;
    } */
    table{
      width: 100%;
      height: 65vh;
    }
    .container{
      width: 100%;
      height: 100vh;
      display: grid;
      grid-template-columns: 0.3fr 1fr;
  
    }
    .table{
      display: flex;
      justify-content: center;
      background-color: rgb(255, 255, 255);
      padding:30px 50px;
    }
    .holder {
      display: flex;
    }
    .header {
      font-size: 24px;
      background-color: #2A4966;
      color: white;
      padding:0 30px;
    }
  .item1{
    padding-left: 2rem;
    }
  .item2{
  padding-left: 6rem;
  font-weight: bold;
  }
  .item3{
  padding-left: 4rem;
  }
  .KicukiroNyabugogo{
    background-color:#D9D9D9;
    /* border: 2px solid black; */
    padding: 5rem;
    height:5px;
  }
      .loc{
        font-size: 30px;
        color: black;
        font-weight: 600;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .table-body{
        background-color: #E9F4FF;
      }

     .status{
       color:#008000 ;
       font-weight: 700;
       }
  
  
  
  
      