*{
    margin: 0;
    padding: 0;
    /* font-family: cursive; */
    box-sizing: border-box;
    
}
.navcontainer{
width: 100%;
height: 10vh;
/* position: fixed; */
top: 0;
left: 0;
padding: 14px;
background-color: #047192;
}

nav .nav{
  display: flex;
  align-items: center; 
  justify-content: space-between;
 
  padding: 20px 80px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  font-family:bold italic;
}
#navnavbar{
    display: flex;
    align-items: center;
    justify-content: center;

}
#navnavbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
    
}
#navnavbar li a{
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
    color: #fff;
    transition: 0.4s ease-in-out;  
}
#navnavbar li a:hover,
#navnavbar li a.active{
    color: #6DD98D;
}
#navnavbar li a:hover::after,
#navnavbar li a.active::after{
    content: "";
    width: 30%;
    height: 2px;
    background: #6DD98D;
    position: absolute;
    bottom: -4px;
    left: 20px;
}
.mobile{
    color: white;
    display: none;
}

/* @media screen and (max-width:492px){ */
  /* .navcontainer{
    width: 33.6rem;
}
}
 
@media screen and (max-width:769px){
    #navnavbar{
        display: none;
    }
    
    ul{
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 90px;
        right: 0px;
        height: 100vh;
        background-color: #2A4966;
        box-shadow: 0 40px 60px rgba(0, 0, 0.1);
        padding: 40px 0 0 10px;
        transition: 0.4s ease-in-out;
    }

   
      
    li{
        list-style: none;
        padding: 0 20px;
        position: relative;
        margin-bottom: 25px;
        
    }
    a{
        text-decoration: none;
        font-size: 2rem;
        font-weight: 600;
        color: #fff;
          
    }
    a.active{
        right: 0px;
       }
    ul li a:hover,
ul li a.active{
    color: #6DD98D;
}

ul li a:hover::after,
ul li a.active::after{
    content: "";
    width: 30%;
    height: 2px;
    background: #6DD98D;
    position: absolute;
    bottom: -4px;
    left: 20px;}
    
    .mobile{
        
        display: block;
    }
    .menuBar{
        font-size: 30px;
        cursor: pointer;
    }
    .menuTimes{
        font-size: 30px;
        cursor: pointer;
    }
}

@media screen and (max-width: 1024px) {
    #navnavbar {
      display: none;
    }
    
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      position: fixed;
      top: 90px;
      right: 0px;
      height: 100vh;
      background-color: #2A4966;
      box-shadow: 0 40px 60px rgba(0, 0, 0.1);
      padding: 40px 0 0 10px;
      transition: 0.4s ease-in-out;
    }
  
    li {
      list-style: none;
      padding: 0 20px;
      position: relative;
      margin-bottom: 25px;
    }
  
    a {
      text-decoration: none;
      font-size: 2rem;
      font-weight: 600;
      color: #fff;
    }
  
    a.active {
      right: 0px;
    }
  
    ul li a:hover,
    ul li a.active {
      color: #6DD98D;
    }
  
    ul li a:hover::after,
    ul li a.active::after {
      content: "";
      width: 30%;
      height: 2px;
      background: #6DD98D;
      position: absolute;
      bottom: -4px;
      left: 20px;
    }
  
    .mobile {
      display: block;
    }
  
    .menuBar {
      font-size: 30px;
      cursor: pointer;
    }
  
    .menuTimes {
      font-size: 30px;
      cursor: pointer;
    }
  } */