@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css");

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* body {
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ddd;
    font-size: 14px;
} */

.login-center{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.container-Login {
    background-color: #fff;
    width: 760px;
    max-width: 100vw;
    height: 480px;
    position: relative;
    overflow-x: hidden;
}

.container-Login .forms-container {
    position: relative;
    width: 50%;
    text-align: center;
    float: right;
}

.container-Login .forms-container .form-control {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 480px;
    transition: all 0.5s ease-in;
}

.container-Login .forms-container .form-control h2 {
    font-size: 2rem;
}

.container-Login .forms-container .form-control form {
    display: flex;
    flex-direction: column;
    margin: 0px 30px;
}

.container-Login .forms-container .form-control form input {
    margin: 10px 0px;
    border: none;
    padding: 15px;
    background-color: #efefef;
    border-radius: 5px;
}

.container-Login .forms-container .form-control form button {
    border: none;
    padding: 20px;
    margin-top: 5px;
    background-color: #0a153a;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

.container-Login .forms-container .form-control form button:focus {
    outline: none;
}

.container-Login .forms-container .form-control span {
    margin: 10px 0px;
}

.container-Login .forms-container .form-control .socials i {
    margin: 0 5px;
    color: #fff;
    border-radius: 50%;
}

.container-Login .forms-container .form-control .socials .fa-facebook-f {
    padding: 5px 8px;
    background-color: #3b5998;
}

.container-Login .forms-container .form-control .socials .fa-google-plus-g {
    padding: 5px 4px;
    background-color: #db4a39;
}

.container-Login .forms-container .form-control .socials .fa-linkedin-in {
    padding: 5px 6px;
    background-color: #0e76a8;
}

.container-Login .forms-container .form-control.signin-form {
    opacity: 1;
    z-index: 2;
    left: 0%;
}

.container-Login .intros-container {
    position: relative;
    width: 50%;
    text-align: center;
   
}

.container-Login .intros-container .intro-control {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 480px;
    color: #fff;
    background: linear-gradient(170deg, #2f3e6d, #0a153a);
    transition: all 0.5s ease-in;
}

.container-Login .intros-container .intro-control .intro-control__inner {
    margin: 0px 30px;
}

.container-Login .intros-container .intro-control button {
    border: none;
    padding: 15px 30px;
    background-color: #2f3e6d;
    border-radius: 50px;
    color: #fff;
    margin: 10px 0px;
    cursor: pointer;
}

.container-Login .intros-container .intro-control button:focus,
.container-Login .intros-container .intro-control button:hover {
    outline: none;
    background-color: #0a153a;
}

.container-Login .intros-container .intro-control h3,
.container-Login .intros-container .intro-control p {
    margin: 10px 0px;
}

.container-Login .intros-container .intro-control.signin-intro {
    opacity: 1;
    z-index: 2;
}

@media screen and (max-width: 480px) {
    .container-Login {
        height: 100vh;
        display: flex;
        flex-direction: column;
    }

    .container-Login .forms-container {
        order: 2;
        width: 100%;
        height: 50vh;
    }

    .container-Login .forms-container .form-control {
        position: absolute;
        height: 50vh;
    }

    .container-Login .forms-container .form-control.signin-form {
        left: 0%;
        margin-top: 70px;
    }

    .container-Login .intros-container {
        order: 1;
        width: 100%;
        left: 0%;
        height: 40vh;
    }

    .container-Login .intros-container .intro-control {
        position: absolute;
        height: 40vh;
    }

}

@media screen and (max-width: 720px) {
    .container-Login {
        height: 100vh;
        display: flex;
        flex-direction: column;
    }

    .container-Login .forms-container {
        order: 2;
        width: 100%;
        height: 50vh;
    }

    .container-Login .forms-container .form-control {
        position: absolute;
        height: 50vh;
    }

    .container-Login .forms-container .form-control.signin-form {
        left: 0%;
        margin-top: 70px;
    }

    .container-Login .intros-container {
        order: 1;
        width: 100%;
        left: 0%;
        height: 40vh;
    }
}