*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  width: 100%;

} 
.all{
  background-color: rgb(214, 223, 223);
   width: 100%;
  height:100%; 
 }
.navbar{
  display: flex; 
}
.navbar quick li a{
  list-style: none;

}
.navbar ul{
  display: flex;
  background-color:rgb(10, 10, 59);
  width: 100%;
  height: 60px;
  
}
.navbar ul li{
  list-style: none;
  margin-top: 17px;
/* margin-left: 30%; */
}
.navbar ul li a{
  color: white;
  text-decoration: none;
}
.down{  

   color: rgb(39, 167, 167); 
   padding-top:4%;  
   padding-left: 35%;
   margin-bottom: -100%;
  } 
.north p{
  margin-top:30%;
  font-size: 16px;

}
.quick p{
  margin-top:30%; 
  font-size: 20px;
}
.left p{
  margin-top: 30%;
  font-size: 20px;
}
.east p{
  margin-top: 30%; 
  font-size:20px;
}

.icons{
  display: flex;
  padding-top:30.5%;
  gap: 2px;

}


.lines-1{
  width: 100%;
  height: 2px;
  margin-top: 22%;
  background-color: rgb(153, 187, 187);
  position: absolute;
}  

 .line{
  width: 100%;
  height: 2px;
  margin-top :25%;
   background-color: rgb(153, 187, 187);
  position: absolute;
} 




    @media screen and (max-width: 760px) { 
  } 
 .north {
  padding-left:1%;
  font-size: 14px;

  } 
.east-p{
  padding-top: 10%;
  font-size: 14px;
  
}
.quick p{
  /* margin-left:2%;  */
  font-size: 14px;
} 

.north p{
padding-left: 1%;
font-size: 20px;
}
 
.all {
  width: 100%; 
  height: 100%;
  margin-left:1%;
  margin-right: 1%;
  
}

.paragraph p{
  margin-left:1%;
  margin-right: 1%;
  gap: 2%;
  font-size:14px;
 
} 


.lines-1{
 
  background-color: rgb(153, 187, 187);
  margin-top: 7%;

} 
