.driver-sidebar{
  background-color: #2A4966;
  height: 100vh;

}
 .SIDEBAR{
  position: fixed;
 }


 .logo-admin{
  padding-bottom: 30px;
 }
  .list-items-driver {
    display: flex;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
}
.list-items-driver ul {
    list-style: none;
    gap: 15px;
    
    margin-bottom: 2rem
}
.list-items-driver ul li{
    padding-bottom: 40px;
    gap: 20px;
    
}
.list-items-driver ul li {
    text-decoration: none;
    color: white;
}
.line-driver{
    content: "";
    border: 1px solid white;
    margin: auto;
    margin-bottom: 60px;
    width: 50%;
}
/* The switch-driver container */
.switch-driver {
    position: relative;
    display: inline-block;
    margin-left: 60px;
    width: 150px;
    height: 34px;
    margin-right: 2rem;
  }
  
  /* Hide the default checkbox */
  .switch-driver input {
    display: none;
  }
   /* The slider */
   .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #009AC7;
    transition: 0.4s;
    border-radius: 34px;
  }
  
  .slider:before {
    position: absolute;
    content: "Dark";
    text-align: center;
    color: black;
    height: 26px;
    width: 85px;
    left: 5px;
    bottom: 4px;
    background-color: #2A4966;
    transition: 0.4s;
    border-radius: 20px;
  }
  .slider::after{
    content: "Light";
    color: white;
    margin-top: 9px;
   margin-left: 95px;
    display: flex;
  }
  /* Styling for the checked state */
  input:checked + .slider {
    background-color: #009AC7;
    
  }
  
  input:checked + .slider:before {
    transform: translateX(55px);
    
  }
  
















  
   
    
      
      